body{
  padding: 0;
  margin: 0;
  background-color: #383838;
  color: white;
  font-family: "Lucida Grande";
}

#sidebar-wrapper ul{
  border: 1px white solid;
}

#page-wrapper div {
  padding: 5%;
}
