body{
  padding: 0;
  margin: 0;
  background-color: #383838;
  color: white;
  font-family: "Lucida Grande";
}
#wrapper {
  display: flex;
}

.sidebar {
  padding: 0;
  /*padding-top: 20%;*/
  height: 100%;
}
.sidebar li {
  /*spacing between items in the side bar*/
  padding-top: 7%;
  padding-bottom: 7%;
  font-size: 26px;
  text-align: center;
}
.sidebar li a {
  text-decoration: none;
  /*can adjust font of sidebar items here*/
  color: white;
  width: 100%;
}
#mainlogo {
  width: 80%;
  height: auto;
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 10%;
}


#sidebar-wrapper {
  background-color: #2B2D33;
  height: 100vh;
  width: 20vw;
  position: fixed;
}
#page-wrapper {
  /* if changing this, change #sidebar-wrapper's width by same amount */
  padding-left: 20vw;
  width: 80vw;
}

.content {
  height: 100vh;
  width: 80vw;
}

.commands {
  font-size: 18px;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.downButton img{
  height: 90px;
  width: 90px;
}

/*needed to move buttons to bottom*/
#quickstart, #sample, #home {
  position: relative;
  text-align: center;
}
#quickstartArrow, #sampleArrow, #homeArrow  {
  position: absolute;
  bottom: 1%;
  right: 45%;
}

/*home*/
.title {
  padding-top: 20vh;
  font-size: 80px;
  text-align: center;
  color: #ff8d23;
}
#js {
  color: #696291
}
#homeParagraph {
  /*give spacing around the wall of texts in home div*/
  padding-left: 9%;
  padding-right: 9%;
  /*vertically adjust the location of the paragraph*/
  padding-top: 15vh;
  font-size: 24px;
}

/*sample image*/
#sampleImageDiv {
  /*change vertical positioning of the sample picture*/
  padding-top: 5%;
  /*change horizontal positioning of the sample picture*/
  /*padding-left: 20%;*/
  font-size: 40px;
}
#sampleHeader {
  padding-bottom: 5%;
}
#sampleImage {
    margin-top: 5%;
    width: 78vw;
    height: 70vh;
    border: 1px white solid;
}


/*Quickstart*/
#quickstart {
  text-align: left;
}
#quickstart h1{
  padding-top: 8vh;
  padding-bottom: 5vh;
  text-align: center;
  font-size: 40px;
}
.install a{
  color: white;
}
.install, .serverFiles, .commandLines {
  /*padding-top: 3vh;*/
  padding-left: 2%;
  padding-right: 2%;
}


/*contact*/
#contact {
  padding-top: 10vh;
  font-size: 26px;
  text-align: center;
}
#contact span {
  font-size: 40px;
}
.teamGram {
  display: flex;
}
.members {
  padding-top: 15vh;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 20px;
}
.members p {
  font-size: 16px;
}
.members img {
  width: 100%;
  height: 60%;
  border-radius: 50%;
}
.members a {
  color: white;
}